{% extends "base.html" %}

{% block title %}利用規約{% endblock %}

{%block content %}
<h2>利用規約</h2>
<p>
  Limacina(以下、「本サービス」)を利用するにあたり、本利用規約(以下、「本規約」)に同意していただく必要があります。
</p>

<h4>1. サービスの対象</h4>
<p>本サービスはすべてのクリエイターとそのファンを対象としています。</p>

<h4>2. 禁止事項</h4>
<p>本サービスでは、以下の行為を禁止します:</p>
<ul>
  <li>他人への誹謗中傷</li>
  <li>不正アクセス</li>
  <li>無断転載</li>
  <li>日本国の法律によって禁止される行為</li>
</ul>

<h4>3. アカウントの管理</h4>
<p>
  アカウントを削除したい場合は、運営宛にご連絡ください。また、本規約に違反するアカウントや投稿・コメントは、運営の判断で削除される場合があります。
</p>

<h4>4. 責任の制限</h4>
<p>
  本サービスに起因する損害については、運営チームが責任を負担します。ただし、第三者による攻撃やサードパーティクライアントの利用による損害については、一切の責任を負いません。
</p>

<h4>5. 規約の変更およびサービス終了</h4>
<p>
  本規約の変更やサービス内容の変更、終了のお知らせは、その都度サイトトップに記載します。サービス終了時には、必要に応じてデータの削除や移行ができるよう対応します。
</p>
{% endblock %}
